:root {
  --width-container: 100px;
  --width: 14px;
  --width-transform: calc(var(--width) / 2);
  --time-rotate: 2s;
  --time-cobe-rotate: 1.5s;
}

body {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

html,
body {
  height: 100%;
}

.wrappper {
  position: relative;
  width: var(--width-container);
  height: var(--width-container);
  background-image: url("./asset/68_mini_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate var(--time-rotate) linear infinite;
}

.minigame {
  position: absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.dice-container {
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: transparent;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: var(--width);
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
  perspective-origin: top right;
  position: absolute;
  transform: translate(-50%, -50%);
}

.cube {
  position: relative;
  width: var(--width);
  height: var(--width);
  transform-style: preserve-3d;
  animation: cubeRotate var(--time-cobe-rotate) ease-in-out infinite forwards;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.front {
  transform: translateZ(var(--width-transform));
}

.back {
  transform: translateZ(calc(var(--width-transform) * -1));
}

.left {
  transform: rotateY(90deg) translateZ(var(--width-transform));
}

.right {
  transform: rotateY(-90deg) translateZ(var(--width-transform));
}

.top {
  transform: rotateX(90deg) translateZ(var(--width-transform));
}

.bottom {
  transform: rotateX(-90deg) translateZ(var(--width-transform));
}

#dice1 {
  top: 24%;
  left: 26%;
}

#dice2 {
  top: 24%;
  left: 74%;
}

#dice3 {
  bottom: 18%;
  left: 50%;
}

@keyframes cubeRotate {
  from {
    transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
