:root {
  --width-container: 90px;
  --width: 12px;
  --width-transform: calc(var(--width) / 2);
  --width-orbit: 12px;
  --time-orbit: 1.4s;
  --time-rotate: 2s;
  --time-cobe-rotate: 1.5s;
}

* {
  box-sizing: border-box;
}

body {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrappper {
  position: relative;
  width: var(--width-container);
  height: var(--width-container);
  background-image: url("./asset/bg_1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.effects {
  width: 78%;
  height: 78%;
  position: absolute;
  left: 9%;
  top: 1%;
  animation: rotate var(--time-rotate) linear infinite;
}

.minigame {
  width: 84%;
  background-size: contain;
  z-index: 10;
  position: absolute;
  left: 49%;
  bottom: 6%;
  transform: translate(-50%, -50%);
}

.dice-container {
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: transparent;
  top: 35%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.container {
  width: var(--width);
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
  perspective-origin: top right;
  position: absolute;
  transform: translate(-50%, -50%);
}

.cube {
  position: relative;
  width: var(--width);
  height: var(--width);
  transform-style: preserve-3d;
  animation: cubeRotate var(--time-cobe-rotate) ease-in-out infinite forwards;
}

#dice1 {
  top: 20%;
  left: 28%;
  animation: orbit var(--time-orbit) ease-out infinite;
}

#dice2 {
  top: 36%;
  left: 60%;
  animation: orbit var(--time-orbit) ease-out infinite;
}

#dice3 {
  bottom: 20%;
  left: 32%;
  animation: orbit var(--time-orbit) ease-out infinite;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.front {
  transform: translateZ(var(--width-transform));
}

.back {
  transform: translateZ(calc(var(--width-transform) * -1));
}

.left {
  transform: rotateY(90deg) translateZ(var(--width-transform));
}

.right {
  transform: rotateY(-90deg) translateZ(var(--width-transform));
}

.top {
  transform: rotateX(90deg) translateZ(var(--width-transform));
}

.bottom {
  transform: rotateX(-90deg) translateZ(var(--width-transform));
}

@keyframes cubeRotate {
  from {
    transform: rotateY(0deg) rotateX(720deg) rotateZ(0deg);
  }
  to {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(var(--width-orbit)) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(var(--width-orbit)) rotate(360deg);
  }
}
